/* -------------------- */
/*        RESET         */
/* -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.vorlage {
  width: 100vw;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  left: 0;
  top: 0;
}

img {
  max-width: 100%;
}

/* -------------------- */
/*        MOBILE        */
/* -------------------- */

body {
  color: white;
  background-color: hsl(257, 40%, 49%);

  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  align-items: center;
  background-image: url(images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

body * {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}

.logo {
  width: 150px;
  align-self: flex-start;
}

.reg-btn {
  background-color: white;
  border-radius: 40px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: hsl(257, 40%, 49%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.reg-btn:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social {
  margin-top: 50px;
  display: flex;
  gap: 0.7rem;
}

.social i {
  border: 1px solid white;
  border-radius: 50%;
  width: 27px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.social i:active {
  border-color: hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}
