/* -------------------- */
/*        RESET         */
/* -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

img {
  max-width: 100%;
}

.vorlage {
  width: 1440px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  left: 0;
  top: 0;
}

/* -------------------- */
/*        MOBILE        */
/* -------------------- */

body {
  color: white;
  background-color: hsl(257, 40%, 49%);

  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  align-items: center;
  background-image: url(images/bg-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

body * {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}

.logo {
  width: 150px;
  align-self: flex-start;
}

.reg-btn {
  background-color: white;
  border-radius: 40px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: hsl(257, 40%, 49%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.reg-btn:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social {
  margin-top: 50px;
  display: flex;
  gap: 0.7rem;
}

.social i {
  border: 1px solid white;
  border-radius: 50%;
  width: 27px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.social i:active {
  border-color: hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

/* -------------------- */
/*       DESKTOP        */
/* -------------------- */

@media screen and (min-width: 769px) {
  body {
    display: grid;
    grid-template-columns: 60fr 40fr;
    grid-template-rows: 150px 1fr 100px;
    padding: 0 4rem;
    column-gap: 2rem;
    row-gap: 0;
    align-items: center;
    background-image: url(images/bg-desktop.svg);
  }

  body *:not(button) {
    text-align: initial;
  }

  .logo {
    grid-column: span 2;
    align-self: center;
    width: 200px;
  }

  .main {
    align-items: flex-start;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .reg-btn {
    font-size: 1.2rem;
  }

  .social {
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    margin: 0;
    font-size: 1.5rem;
  }

  .social i {
    width: 45px;
    border-width: 2px;
  }
}
